@import 'styles/base/variables.scss';

.header {
  container-type: inline-size;

  height: 110px;
  background-color: $brand-color-2;
  display: flex;
  align-items: center;
  width: 100%;

  padding-inline: 20px;

  position: absolute;
  z-index: 1000;

  .logo {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    width: 10%;
    min-width: 200px;

    img {
      width: 50%;
      height: auto;
    }

    color: $text-color;
    font-family: $font-family;
    font-style: italic;

    .logoText{
      width: 200px;
      transform: translateY(7px);
    }
  }

  .hamburgerMenu {
    display: none;

    @container (max-width: 768px) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
    transform: translateX(-8em);

    @container (max-width: 768px) {
      display: none;
    }

    @container (max-width: 1064px) and (min-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 30px;
      width: 100%;
      transform: translateX(-5em);
    }
  }
}
