@import 'styles/base/variables.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 5px;
  padding-block: 10px;
  background-color: $brand-color-3;

  margin: 0;
  padding-top: 50px;
  padding-bottom: 150px;
  min-height: 90vh;
  height: auto;
}
