@import 'styles/base/variables.scss';

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  background-color: $brand-color-3;
}

.mainContainer {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 20px;

  width: 80%;
  height: 80%;

  transform: translateY(-43px);

  padding: 30px;

  .title {
    font-size: 40px;
    font-weight: bold;

    @container (max-width: 620px) {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .description {
    font-size: 20px;

    @container (max-width: 620px) {
      font-size: 14px;
    }
  }

  .price {
    font-weight: bold;
    font-size: 20px;
    padding-block: 20px;

    @container (max-width: 620px) { 
      font-weight: bold;
      font-size: 16px;
      padding-block: 12px;
    }
  }

  .dimensions {
    font-size: 16px;
    font-style: italic;

    @container (max-width: 620px) { 
      font-size: 12px;
      font-style: italic;
    }
  }
}

.innerContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;

  align-items: center;
  justify-content: center;
}

.productImage {
  display: flex;
  flex-direction: column;

  object-fit: contain;
}

.productDetails {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.productImage {
  max-width: 800px;
  max-height: 850px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.backButton {
  width: 100px;
  all: unset;
  font-size: 20px;

  cursor: pointer;

  p {
    font-size: 20px;

    @container (max-width: 620px) { 
      font-size: 12px;
    }
  }

}

.cartButton {
  all: unset;
  cursor: pointer;

  &:hover {
    color: blue;
    transition: 0.7s ease-in-out;
  }

  p {
    font-weight: bold;

    @container (max-width: 620px) {
      font-size: 14px;
    }
  }
}