@import 'styles/base/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 180px;

  .selectedFilterContainer {
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $brand-color-4;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

    .selectedFilterText {
      all: unset;
      font-size: 14px;
      font-weight: 600;
      color: $brand-color-4;
    }
}


  .options {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: grey;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    transform: translateY(60px);
    width: 180px;

    position: fixed;
    z-index: 100;
    box-shadow: 10px 10px 15px 1px $dark-grey;

    p {
      all: unset;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        color: black;
        transition: 0.5s ease-in-out;
      }
    }
  }
}